nav {
  background: rgba(35, 35, 35, 0.84);
  position: sticky;
  border-radius: 40px;
  top: 3vh;
  width: 80%;
  height: 35px;
  margin: 0 auto;

  ul {
    height: 100%;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 20%) 10% 10%;

    li {
      cursor: pointer;
      border-radius: 40px;
      height: 37px;
      list-style: none;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      a {
        width: 100%;
        margin: 0 auto;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: $bold-font;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100%;
        color: #b0abab;
        text-decoration: none;
        transition: 1s background-color ease-in-out;

        &.nav-active {
          background: $white;
          color: $black;
        }
      }
    }

    .search-button {
      cursor: pointer;
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #b0abab;

      &.active {
        background: $white;
        color: $black;
      }
    }
  }
}