// polices //
@font-face {
  font-family: "Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Light";
  src: url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}

// variables //
$regularfont: "regular", sans-serif;
$boldfont: "Bold", sans-serif;
$lightfont: "Light", sans-serif;

$primary-color: #E42113;
$secondary-color: #937043;
$yellow: #FFBF00;
$black: #131313;
$white: #F1F1F1;

// code général //
::selection {
  background: $green;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $regularfont;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F1F1F1;
  position: relative;
}

main {
  width: 90%;
  margin: 0 auto;
}