// polices //
@font-face {
  font-family: "Medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Light";
  src: url(../fonts/Poppins-Light.ttf);
}

// variables //
$bold-font: "Medium", sans-serif;
$regular-font: "Regular", sans-serif;
$light-font: "Light", sans-serif;

$primary-color: #E42113;
$black: #131313;
$white: #F1F1F1;

// code général //
::selection {
  background: $primary-color;
  color: $white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $regular-font;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  position: relative;
}

main {
  width: 90%;
  margin: 0 auto;
}